@import url(https://www.w3schools.com/w3css/4/w3.css);input {
  margin: 10px 0px;
}

#flash-message {
  height: 100px;
  width: 25%;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  background-color: #baffaa;
  padding: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  -webkit-animation: flash 4s forwards;
          animation: flash 4s forwards;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

